
<!DOCTYPE html>
<html>
<head>
    <title>termsite</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="title" content="termsite">
    <meta name="description" content="termsite webserver">
    <meta property="og:type" content="website">
    <meta property="og:title" content="termsite">
    <meta property="og:description" content="termsite webserver">
    <meta name="discord:vendor" content="N/A"/>
    <meta name="theme-color" content="d9c4c4"> 
</head>
    <body>
<h1>uptime for seconds</h1>
<h2><%=uptime%></h2> 
<h1>total memory</h1>
<h2><%=totalmem%></h2>
<h1>free memory</h1>
<h2><%=freemem%></h2>
<h1>os</h1>
<h2><%=platform%></h2>
<h1>os release</h1>
<h2><%=release%></h2>
    </body>
</html>